<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <div class="input-group">
        <input type="text" class="form-control download-url" [value]="downloadUrl$ | async">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="copyToClipboard()">
            <span class="glyphicon glyphicon-copy"></span>
            Copy
          </button>
        </span>
      </div>

      <hr />

      <p class="text-muted text-center">
        Send this URL to whoever needs to receive your file, then
        pick a way to start your upload:
      </p>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">Manual start</div>
          <div class="panel-body">
            <p class="text-muted">
              Manually start the upload to all the currently listening recipients.
            <p>
          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-primary"
              [disabled]="!(numRecipients$ | async)"
              (click)="triggerManual()"> Go! </button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">Wait for recipients</div>
          <div class="panel-body">
            <p class="text-muted">
              Automatically start the upload once a number of recipients has
              been met.
            <p>
            <div class="form-group">
              <label for="minRecipients">Minimum recipients</label>
              <input type="number" #minRecipients id="minRecipients" class="form-control" value="1" />
            </div>
          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-primary"
              (click)="triggerMinRecipients(minRecipients.value)"> Go! </button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">Delayed start</div>
          <div class="panel-body">
            <p class="text-muted">
              Automatically start the upload once a certain amount of time
              has passed.
            <p>
            <div class="form-group">
              <label for="waitSeconds">Seconds to wait</label>
              <input type="number" #waitSeconds id="waitSeconds" class="form-control" value="15" />
            </div>
          </div>
          <div class="panel-footer text-right">
            <button class="btn btn-primary"
              (click)="triggerWaitSeconds(waitSeconds.value)"> Go! </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <recipient-list></recipient-list>
  </div>
</div>
