<div class="jumbotron">
  <h2>Select a file to upload</h2>

  <input #fileInput class="hidden" type="file" />

  <template [ngIf]="!(isMobile$ | async)">
    <p>Drag and drop the file onto this box... </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button" (click)="fileInput.click()">
        ...or select it manually
      </a>
    </p>
  </template>
  <template [ngIf]="isMobile$ | async">
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button" (click)="fileInput.click()">
        Touch here to select a file
      </a>
    </p>
  </template>
  <div *ngIf="selectedFile$ | async">
    <p>
      Selected:
      <em> {{(selectedFile$ | async).name}} </em>
      ({{selectedMimeType$ | async}}; {{selectedSizeHuman$ | async}})
  </div>
</div>
